<%
  var $G = $.Goxnode(),
    digitsScale = 10;

  var orderDateFormat = $G.orderDateFormat,
    orderDate = new Date(model.get('date') * 1000),
    amount = model.get('amount').toAmount(),
    collapsed = model.get('collapsed'),

    priceModel = model.get('price'),
    price = priceModel.toPrice(),
    parsedPrice = priceModel.toParsedPrice(price),
    priceDigits = parsedPrice.digits,
    priceCents = parsedPrice.cents,
    priceMillis = parsedPrice.millis,
    total = model.getOrderTotal(),
    base = stockExchange.getBaseCurrency(),
    cur = stockExchange.getCurCurrency(),
    cid = model.id;

  var stock = stockExchange.get('name');
  var pair = stockExchange.getCurrencyPair();
  var freeFonds = tradeAccount.getFreeFonds(pair);
  var fonds = stockExchange.getTradeFonds(freeFonds);

  var ticker = stockTicker.getTicker(),
    ask = ticker.ask,
    bid = ticker.bid;

  var minDigits = priceDigits - digitsScale,
    maxDigits = priceDigits + digitsScale,
    orderTheme = model.getOrderSwatchTheme();

%>

<div data-role="collapsible" class="trade-order" data-theme="<%= orderTheme %>" data-collapsed="<%= collapsed %>" id="<%= cid %>">
  <h2>
    <%= model.buildHeaderUI() %>
  </h2>

  <fieldset data-role="controlgroup" data-type="horizontal" style="float: right;">
    <a href="#" data-theme="h" data-role="button" data-icon="delete" data-inline="true" data-iconpos="notext" style="height: 57px"></a>
  </fieldset>

  <fieldset data-role="controlgroup" data-type="horizontal" style="float: right; margin-right: 20px">
    <a href="#" data-theme="b" data-role="button" data-icon="check" data-inline="true" data-iconpos="notext" style="height: 57px; visibility: hidden"></a>
  </fieldset>

  <div class="trade-info">

    <div class="trade-action-info">
      <span>
        <!--<small><i><%= _.strftime(orderDate, orderDateFormat) %></i></small>-->
      </span>
    </div>

    <div style="clear: both"></div>
    <div>
      <input type="range" class="amount" name="amount" value="<%= amount %>" min="0" max="30" step="0.1"/>
      <input type="range" class="digits" name="priceDigits" value="<%= priceDigits %>" min="<%= minDigits %>" max="<%= maxDigits %>" step="0.1"/>
      <input type="range" class="cents" name="priceCents" value="<%= priceCents %>" min="0" max="0.1" data-mini="true" step="0.001"/>
      <input type="range" class="millis" name="priceMillis" value="<%= priceMillis %>" min="-0.0005" max="0.0005" data-mini="true" step="0.00001"/>
    </div>
    <hr/>
  </div>
</div>
