<div class="trade-action" data-theme="c">
  <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" style="float: left;">
    <a href="#" data-role="button" data-icon="delete" data-inline="true" data-iconpos="notext"></a>
  </fieldset>
  <span class="trade-action">Trade Action</span>
  <span class="trade-type">BUY</span>
  <fieldset data-mini="true" data-role="controlgroup" style="float: right;" >
    <input type="checkbox" id="autoPop" name="autoPop" />
    <label for="autoPop" data-theme="c">Auto</label>
    <!--<button date-icon="search">Search</button>-->
    <input type="checkbox" id="stopLoss" name="stopLoss" checked="on"/>
    <label for="stopLoss" data-theme="c">Stop Loss</label>
  </fieldset>
</div>
<div style="clear: both"></div>
