<%
  var cid = tradeAction.cid,
    timestamp = tradeAction.get('timestamp'),
    strategy = tradeAction.get('strategy'),
    nature = tradeAction.get('nature').toUpperCase(),
    sizeInt = tradeAction.get('sizeInt'),
    now = new Date(timestamp),
    actionDateFormat = $.Goxnode().actionDateFormat,
    currency = tradeAction.get('currency'),
    msg, orderType;


  if (nature == 'ORDER') {
    if (currency == 'USD') {
      orderType = 'ASK';
    } else {
      orderType = 'BID';
    }
  } else if (nature == 'INSTANT') {
    msg = 'Instant'
  }

%>

<div class="trade-action" data-theme="c">
  <fieldset data-role="controlgroup" data-type="horizontal" style="float: left;">
    <a href="#" id="<%= cid %>" data-theme="h" data-role="button" data-icon="delete" data-inline="true" data-iconpos="notext" style="height: 57px"></a>
  </fieldset>

  <fieldset data-mini="true" data-role="controlgroup" style="float: right;" >
    <% if (nature == 'ORDER') { %>
    <input type="checkbox" id="autoPop" name="autoPop" />
    <label for="autoPop" data-theme="c">Auto pop</label>
    <!--<button date-icon="search">Search</button>-->
    <!--<input type="checkbox" id="stopLoss" name="stopLoss" checked="on"/>-->
    <!--<label for="stopLoss" data-theme="c">Stop Loss</label>-->
    <% } %>
  </fieldset>
  <div class="trade-info">
    <div>
      <span class="trade-action-info"><small><i><%= _.strftime(now, actionDateFormat) %></i></small> <strong><%= nature %>, <%= strategy %>%, <%= currency %></strong></span>
    </div>
    <% if (nature == 'ORDER') { %>
      <span class="trade-action-info"><strong><%= orderType %>, <%= strategy %>%, <%= currency %></strong></span>
    <% } %>
    <div>
      <span class="trade-action-info"> <strong></strong></span>
    </div>
  <hr/>
  <div style="clear: both"></div>
</div>
