<div data-enchance="false" id="nav" style="display: block;">
  <div class="inner">
    <a href="#" class="add"></a>
    <h2>Gox Node Trader</h2>
    <a href="#" class="menu"></a>
  </div>
</div>

<%

  var tradeFee = 0.994,
    baseQuant = 0.0001,
    baseMinTrade = 0.01;

  var base = tradeAccount.get('base'),
    cur = tradeAccount.get('cur'),
    $m = $.Goxnode().multipliers,
    baseMult = $m[base],
    curMult = $m[cur]

  debugger;
  var fondBase = tradeAccount.get(base) / baseMult,
    fondCur = tradeAccount.get(cur) / curMult;

  var bid = 29.1234,
    ask = 29.8721;

  function r (fond, digits) {
    digits = digits || baseMult;
    return Math.round(fond * digits) / digits;
  }

%>
<div id="gox">
  <div class="currency-header">
    <span class="usd"><%= cur %></span>
    <span class="btc"><%= base %></span>
  </div>
  <div class="currency-state field4">
    <span class="usd"><%= fondCur %></span>
    <span class="usd current-bid">@<%= bid %></span>
    <span class="btc current-ask">@<%= ask %></span>
    <span class="btc"><%= fondBase %></span>
  </div>

  <%
    _.each(strategies, function (strategy, prc) {
      //debugger;
      var prcInt = parseInt(prc) / 100;

      var strategyBase = fondBase * prcInt * tradeFee,
        strategyCur = fondCur * prcInt * tradeFee

      var orderBase = strategyCur / (bid + baseQuant),
        orderCur = strategyBase * (ask - baseQuant);

      var instantBase = strategyCur * strategy.slipBase / ask,
        instantCur = strategyBase * strategy.slipCur * bid;

  %>
  <div class="attempt p<%= prc %> field4">
    <span class="usd instant"><%= r(instantCur) %></span>
    <span class="usd order"><%= r(orderCur) %></span>
    <span class="btc order"><%= r(orderBase) %></span>
    <span class="btc instant"><%= r(instantBase) %></span>
  </div>
  <%
  });
  %>
  <div style="clear: both"></div>

</div>

