<div data-enchance="false" id="nav" style="display: block;">
  <div class="inner">
    <a href="#" class="add"></a>
    <h2>Gox Node Trader</h2>
    <a href="#" class="menu"><% if (newMessages > 0) print('<span>' + newMessages + '</span>') %></a>
  </div>
</div>

<%
  var tradeFee = 0.994,
    baseQuant = 0.0001,
    baseMinTrade = 0.01;

  var base = 'BTC',
    cur = 'USD'

  var fondBase = 50.0023,
    fondCur = 1000.0324;

  var bid = 29.1234,
    ask = 29.8721;

  var strategies = {
    100: {
      slipBase: 0.95,
      slipCur:  0.98
    },
    50: {
      slipBase: 0.97,
      slipCur: 0.99
    },
    30: {
      slipBase: 0.98,
      slipCur: 1
    }
  };

  function r (fond) {
    return Math.round(fond * 10000) / 10000 ;
  }

%>
<div id="gox">
  <div class="currency-header">
    <span class="usd"><%= cur %></span>
    <span class="btc"><%= base %></span>
  </div>
  <div class="currency-state field4">
    <span class="usd"><%= fondCur %></span>
    <span class="usd current-bid">@<%= bid %></span>
    <span class="btc current-ask">@<%= ask %></span>
    <span class="btc"><%= fondBase %></span>
  </div>

  <%
    _.each(strategies, function (strategy, prc) {
      //debugger;
      var prcInt = parseInt(prc) / 100;

      var strategyBase = fondBase * prcInt * tradeFee,
        strategyCur = fondCur * prcInt * tradeFee

      var orderBase = strategyCur / (bid + baseQuant),
        orderCur = strategyBase * (ask - baseQuant);

      var instantBase = strategyCur * strategy.slipBase / ask,
        instantCur = strategyBase * strategy.slipCur * bid;

  %>
  <div class="attempt p<%= prc %> field4">
    <span class="usd instant"><%= r(instantCur) %></span>
    <span class="usd order"><%= r(orderCur) %></span>
    <span class="btc order"><%= r(orderBase) %></span>
    <span class="btc instant"><%= r(instantBase) %></span>
  </div>
  <%
  });
  %>
  <div style="clear: both"></div>

</div>

