<%

//debugger;
var stock = stockExchange.get('name');
var pair = stockExchange.getCurrencyPair();
var freeFonds = tradeAccount.getFreeFonds(pair);
var fonds = stockExchange.getTradeFonds(freeFonds);

var fondBase = freeFonds.base,
fondCur = freeFonds.cur,
base = pair.base
cur = pair.cur;

var ticker = stockTicker.getTicker(),
ask = ticker.ask,
bid = ticker.bid;

var $G = $.Goxnode();

%>
<div data-enchance="false" id="nav" style="display: block;">
  <div class="inner">
    <a href="#" class="add"></a>
    <h2><%= stock %></h2>
    <a href="#" class="menu"></a>
  </div>
</div>

<div id="gox">
  <div class="currency-header">
    <span class="left usd"><%= cur %></span>
    <span class="right btc"><%= base %></span>
  </div>
  <div class="currency-state field4">
    <span class="left usd"><%= fondCur %></span>
    <span class="left current-bid">@<%= bid %></span>
    <span class="right current-ask">@<%= ask %></span>
    <span class="right btc"><%= fondBase %></span>
  </div>

  <%
    _.each(strategies, function (strategy) {
      //debugger;
      var percentFloat = parseInt(strategy) / 100;

      var strategyFonds = stockExchange.getStrategyFonds(fonds, percentFloat);

      var orderFonds = stockExchange.getOrderFonds(strategyFonds, ticker);

      var slips = stockTicker.getStrategySlips(strategy);

      var instantFonds = stockExchange.getInstantFonds(strategyFonds, ticker, slips);

  %>
  <div class="attempt p<%= strategy %> field4">
    <span class="left instant"><%= $G.roundFond(instantFonds.cur, cur) %></span>
    <span class="left order"><%= $G.roundFond(orderFonds.cur, cur) %></span>
    <span class="right order"><%= $G.roundFond(orderFonds.base, base) %></span>
    <span class="right instant"><%= $G.roundFond(instantFonds.base, base) %></span>
  </div>
  <%
    });
  %>
  <div style="clear: both"></div>

</div>

